@font-face {
    font-family: "sea";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/sea/sea.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/sea/sea.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/sea/sea.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/sea/sea.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/sea/sea.ttf") format("truetype");
    font-display: swap;
} 
.sea {
    font-family: "sea";
}